/*
@import 'bootstrap.min.css';
@import 'bootstrap-theme.min.css';
*/
header, ul li, h2 {
	width: 50%;
  	margin: 0 auto;
}

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 200%;
}

h2 {
	color: #369;
}

a {
	color: #e60000;
	text-align: center;
	list-style-type: none;
	text-decoration: none;
}

ul.list {
	text-align:center;
	list-style-type: none;
	text-decoration: none;
}

.container {
	background: #ffffcc;
}

.img-responsive{
	width: 500px;
  	margin: 0 auto;
	position: center;
}

.img-drinks{
	width: 20%;
  	margin: 0 auto;
	position: center;
}

.drinks {
	width: 50%;
  	margin: 0 auto;
	font-size: 150%;
	margin: 30px 10px;
}